#ALL THE IMPORT LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

#DATA GATHERING

In [ ]:
df = pd.read_csv("./IPL_Ball_by_Ball_2008_2022.csv")
df.head(125)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1312200,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
121,1312200,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
122,1312200,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
123,1312200,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
124,1312200,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans

In [ ]:

df1 = pd.read_csv("./IPL_Matches_2008_2022.csv")
df1

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [ ]:
sample = df[df['ID']==	1312200]
sample

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,1312200,2,17,3,DA Miller,R Ashwin,Shubman Gill,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
229,1312200,2,17,4,Shubman Gill,R Ashwin,DA Miller,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
230,1312200,2,17,5,Shubman Gill,R Ashwin,DA Miller,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
231,1312200,2,17,6,DA Miller,R Ashwin,Shubman Gill,NaN,2,0,2,0,0,NaN,NaN,NaN,Gujarat Titans
232,1312200,2,18,1,Shubman Gill,OC McCoy,DA Miller,NaN,6,0,6,0,0,NaN,NaN,NaN,Gujarat Titans

In [ ]:
sample = df[df['ID']==	1312200]
name_list = df1['Team1Players'][0].split(', ')
name_list= name_list + df1['Team2Players'][0].split(', ')
players = []
for i in range(len(name_list)):
  if i==0:
    players.append(name_list[i][1:])
  elif i==len(name_list)-1:
    players.append(name_list[i][:len(name_list)-1])
  else:
    players.append(name_list[i])
x=[]
for i in range(len(players)):
  if sample[sample['batter']==players[i].strip("'")]['batter'].count()!=0:
    a = 4+sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum()+sum(sample[sample['batter']==players[i].strip("'")]['batsman_run']==4)+(sum(sample[sample['batter']==players[i].strip("'")]['batsman_run']==6)*2)
    if sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum()>=50 and sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum()<100:
      a=a+8
    elif sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum()>=50 and sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum()<100:
      a=a+16
    elif sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum()==0:
      a=a-2
  else:
    a=4
  x.append(a)
x

[31, 48, 20, 6, 17, 10, 20, 17, 14, 4, 4, 4, 54, 14, 43, 41, 4, 4, 4, 4, 4, 4]

In [ ]:
sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum() #run 1
sum(sample[sample['batter']==players[0].strip("'")]['batsman_run']==6) #six 2
sum(sample[sample['batter']==players[0].strip("'")]['batsman_run']==4) #four 1
sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum()>50 <100 #50 8
sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum() ==0 #duck -2

True

In [ ]:
sample[sample['kind']=='run out']

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
117,1312200,1,19,4,R Parag,Mohammed Shami,OC McCoy,NaN,1,0,1,0,1,OC McCoy,run out,R Tewatia,Rajasthan Royals

In [ ]:
sample[['non_boundary']].value_counts()

non_boundary
0               233
Name: count, dtype: int64

In [ ]:
players

d=[]
for i in range(len(players)):
  if sample[sample['batter']==players[i].strip("'")]['batter'].count()!=0:
    if sample[sample['batter']==players[i].strip("'")]['total_run'].sum()>=60 and sample[sample['batter']==players[i].strip("'")]['total_run'].sum()<100:
      a=a+8
    elif sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum()>=50 and sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum()<100:
      a=a+16
    elif sample[sample['batter']==players[i].strip("'")]['batsman_run'].sum()==0:
      a=a-2
  else:
    a=0
  d.append(a)

run = 0
ball = 0
for i in range(len(players)):
  if sample[sample['batter'] == players[i].strip("'")]['batter'].count()!=0:
    match sample[sample['batter']==players[i].strip("'")]['extra_type']:
        case 'legbyes':
            run += 0
            ball+=1
        case 'wides':
            run += 0
            ball += 0
        case 'noballs':
          run += sample[sample['batter']==players[i].strip("'")]['total_run']
          ball += 1
        case 'penalty':
          run += 0
          ball += 1
        case default:
          run += sample[sample['batter']==players[i].strip("'")]['total_run']
          ball += 1

v = run / ball * 100
v

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [7]:
sample = df[df['ID']==	1312200]
sample[sample['batter']==players[i].strip("'")]['extra_type']

NameError: name 'df' is not defined